name: flutter_mobile_template
description: Flutter Mobile App Template

publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.17.3 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.5

  #Responsive
  sizer: ^2.0.15

  #Image
  flutter_svg: ^1.1.6

  #State Management
  provider: ^6.0.4
  flutter_bloc: ^8.1.1

  #JsonAnnotation
  json_annotation: ^4.7.0
  equatable: ^2.0.5

  #Network
  vexana: ^3.0.1

  #Locale Storage
  flutter_secure_storage: ^6.0.0

  #Navigation
  go_router: ^5.1.1

  #Localization
  intl: ^0.17.0
  easy_localization: ^3.0.1
  bot_toast: ^4.0.3

  #Native Splash Screen
  flutter_native_splash: ^2.2.13

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

  # Code generation
  build_runner: ^2.2.0
  auto_route_generator: ^5.0.3

  # Json serialization code generation
  json_serializable: ^6.3.1

  # Native Launcher Icons generator
  flutter_launcher_icons: ^0.10.0

  # Change app package name/bundle id and app name
  change_app_package_name: ^1.1.0
  rename: ^2.0.1

flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/icons/
    - assets/translations/